<?xml version="1.0"?>
<launch>
  
  <!-- Launch Gazebo with the demo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find d435i_gazebo)/worlds/d435i_demo.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro '$(find d435i_gazebo)/urdf/d435i_robot.urdf.xacro'" />

  <!-- Run the robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Spawn the robot in Gazebo -->
  <node name="spawn_d435i_robot" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model d435i_robot -x 0 -y 0 -z 0.1" 
        output="screen" />

</launch>